@page "/"
@inject NavigationManager Nav
@using PawsitiveMatch.SharedModels.Models

<PageTitle>Home</PageTitle>

<div style="justify-items: center;">
    <MudText Typo="Typo.h1">
        Adoptions
    </MudText>

    <MudStack Row="true" Style="padding: 8px">
        <MudButton OnClick="@(() => NavToPetType(PetType.Cat))">
        Cats
        </MudButton>
        <MudButton OnClick="@(() => NavToPetType(PetType.Dog))">
        Dogs
        </MudButton>
        <MudButton OnClick="@(() => NavToPetType(PetType.Other))">
        Other
        </MudButton>
    </MudStack>
</div>
<MudStack>
    <MudText Typo="Typo.h2">
        Helping to Find Furever Families
    </MudText>
    <MudText Typo="Typo.body1">
        Our mission is to unite pets with their forever homes.
    </MudText>
    @* TODO: Insert Pet Photo Links *@
</MudStack>