@page "/"
@inject NavigationManager Nav
@using PawsitiveMatch.SharedModels.Models

<PageTitle>Home</PageTitle>

<div style="justify-items: center;">
    <MudText Typo="Typo.h1">
        Adoptions
    </MudText>

    <MudStack Row="true" Style="padding: 16px;">
        @foreach (PetType pet in Enum.GetValues(typeof(PetType)))
        {
            <MudButton OnClick="(() => NavToPetType(pet))" Variant="Variant.Outlined" Style="margin: 8px;">@pet</MudButton>
        }
    </MudStack>
</div>
<MudStack>
    <MudText Typo="Typo.h2">
        Helping to Find Furever Families
    </MudText>
    <MudText Typo="Typo.body1">
        Our mission is to unite pets with their forever homes.
    </MudText>
    @* TODO: Insert Pet Photo Links *@
</MudStack>